In [5]:
import pandas as pd
import numpy as np

In [3]:
date = pd.to_datetime("1.1.2020")
date

Timestamp('2020-01-01 00:00:00')

In [6]:
date + pd.to_timedelta(np.arange(72),'H')

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00',
               '2020-01-01 06:00:00', '2020-01-01 07:00:00',
               '2020-01-01 08:00:00', '2020-01-01 09:00:00',
               '2020-01-01 10:00:00', '2020-01-01 11:00:00',
               '2020-01-01 12:00:00', '2020-01-01 13:00:00',
               '2020-01-01 14:00:00', '2020-01-01 15:00:00',
               '2020-01-01 16:00:00', '2020-01-01 17:00:00',
               '2020-01-01 18:00:00', '2020-01-01 19:00:00',
               '2020-01-01 20:00:00', '2020-01-01 21:00:00',
               '2020-01-01 22:00:00', '2020-01-01 23:00:00',
               '2020-01-02 00:00:00', '2020-01-02 01:00:00',
               '2020-01-02 02:00:00', '2020-01-02 03:00:00',
               '2020-01-02 04:00:00', '2020-01-02 05:00:00',
               '2020-01-02 06:00:00', '2020-01-02 07:00:00',
               '2020-01-02 08:00:00', '2020-01-02 09:00:00',
               '2020-01-02 10:00:00', '2020-01-02 11:00:00',
               '2020-01-02 12:00:00', '2020-01-02 13:00:00',
               '2020-01-02 14:00:00', '2020-01-02 15:00:00',
               '2020-01-02 16:00:00', '2020-01-02 17:00:00',
               '2020-01-02 18:00:00', '2020-01-02 19:00:00',
               '2020-01-02 20:00:00', '2020-01-02 21:00:00',
               '2020-01-02 22:00:00', '2020-01-02 23:00:00',
               '2020-01-03 00:00:00', '2020-01-03 01:00:00',
               '2020-01-03 02:00:00', '2020-01-03 03:00:00',
               '2020-01-03 04:00:00', '2020-01-03 05:00:00',
               '2020-01-03 06:00:00', '2020-01-03 07:00:00',
               '2020-01-03 08:00:00', '2020-01-03 09:00:00',
               '2020-01-03 10:00:00', '2020-01-03 11:00:00',
               '2020-01-03 12:00:00', '2020-01-03 13:00:00',
               '2020-01-03 14:00:00', '2020-01-03 15:00:00',
               '2020-01-03 16:00:00', '2020-01-03 17:00:00',
               '2020-01-03 18:00:00', '2020-01-03 19:00:00',
               '2020-01-03 20:00:00', '2020-01-03 21:00:00',
               '2020-01-03 22:00:00', '2020-01-03 23:00:00'],
              dtype='datetime64[ns]', freq=None)

In [79]:
index = date + pd.to_timedelta(np.arange(72),'H')
index2 = pd.to_datetime("1.2.2020") + pd.to_timedelta(np.arange(24),'H')

In [80]:
s1 = (np.sin(np.divide(range(0,72),6)) * 12) + 25

In [81]:
s2 = (np.cos(np.divide(range(0,24),8)) * 7) + 11

In [82]:
d1 = pd.Series(s1, index=index)
d2 = pd.Series(s2, index=index2)

In [83]:
d3 = d1.add(d2, fill_value=0)

In [84]:
pd.DataFrame(d3)

                             0
2020-01-01 00:00:00  25.000000
2020-01-01 01:00:00  26.990754
2020-01-01 02:00:00  28.926336
2020-01-01 03:00:00  30.753106
2020-01-01 04:00:00  32.420438
...                        ...
2020-01-03 19:00:00  13.175208
2020-01-03 20:00:00  13.678004
2020-01-03 21:00:00  14.494574
2020-01-03 22:00:00  15.602286
2020-01-03 23:00:00  16.970442

[72 rows x 1 columns]

In [85]:
d3

2020-01-01 00:00:00    25.000000
2020-01-01 01:00:00    26.990754
2020-01-01 02:00:00    28.926336
2020-01-01 03:00:00    30.753106
2020-01-01 04:00:00    32.420438
                         ...
2020-01-03 19:00:00    13.175208
2020-01-03 20:00:00    13.678004
2020-01-03 21:00:00    14.494574
2020-01-03 22:00:00    15.602286
2020-01-03 23:00:00    16.970442
Length: 72, dtype: float64